*{
    box-sizing: border-box;
}
body{
    
    margin-top: 100px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
}
.puit{
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
}
button{
    
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    width: 150px;
    height: 50px;
}
.resultat{
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: #34d5eb;
    color: white;
}