*{
    box-sizing: border-box;
}
body{
    
    margin-top: 100px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
}
.puit{
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    background-color: blueviolet;
    margin: 10px;
    color: white;
    width: 150px;
    height: 60px;
}
i{
    font-size: 30px;
    padding: 20px;
}
.reset{
    background-color: #004aad;
    color: white;
    width: 150px;
    height: 60px;
}
.score{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 100px;
    margin-top: 50px;
    font-size: 20px;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid #004aad;
}
.resultat{
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: #34d5eb;
    color: white;
}